<p>ID: {{user.id}}</p>
<p>Name: {{user.name}}</p>
<p>Instagram ID:{{user.ig_id}}</p>

<a href="/c3visualization">view ORIGINAL C3 visualization</a>
<br/>

<a href="/c3areaChart">view NEW C3 visualization</a>
<br/>

<a href="/visualization">view D3 visualization</a>
<br/>

<a href="/d3vis">view NEW D3 visualization</a>

