<h1> Media Count of Your Instagram Followers using D3JS</h1>
<br>
<br>
<div id="chart">
		
</div>

<button onclick="sortGraph()"> SORT </button>

<script src="js/tip.js"></script>

<script src="js/visualization.js"></script>



