body {
  font: 10px sans-serif;
}

.bar2 rect {
  fill: pink;
}

.bar2:hover {
  fill: purple;
}

.bar2 text.value {
  fill: grey;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .8;
}

.y.axis path {
  stroke: black;
}